.right-side-bar{
    border-left: 1px solid rgb(235, 235, 235);
    height: 40vh;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 10%;
}
$breakpoint-tablet: 990px;
 @media (max-width: $breakpoint-tablet){
     .right-side-bar{
         height: 40px;
         
         z-index: 1;
     }

 }